<h1>Post a news</h1>
<form action="/postnews" method="POST">
  <input name="title" type="text"></input>
  <textarea id="post" name="post"></textarea>
  <input class="btn btn-primary btn-large" type="submit"></input>
</form>
