<div class="row" style="text-align:justify">
	<div class="span8">

<h1>I HISTORIQUE</h1>

<p>Dans la Bible, on se souvient de la parole que Dieu a adressée au prophète Zorobabel sur les moyens pour la reconstruction du Temple (vers 520 av. J.C.): "Ce n’est ni par la puissance, ni par la force, mais c’est par mon esprit" (Za 4.6). Cette parole, la V.J.E l’a prise comme son fondement: elle pense que pour rétablir la Véritable Eglise comme celle du temps des Apôtres, il faut s’appuyer sur le Saint-Esprit et il faut puiser toute sa force dans une puissance supérieure, qui n’est point de l’homme, pour accomplir l’oeuvre confiée par le Seigneur: être les témoins de Jésus dans le monde entier (voir Luc 24.47–49; Ac 1.8).

La Véritable-Jésus-Eglise est née en 1917 à Pékin en Chine. Par la grâce du Saint-Esprit et la puissance divine, elle s’est déjà répandue sur les cinq continents.

 

Voici les principales étapes de l’histoire de l’Eglise de la Véritable-Jésus-Eglise:<p>

 

<h2>A. Les premiers serviteurs de l’Eglise</h2>

<ol>
	<li>CHANG Ping alias Ling-Sheng: originaire de la province chinoise de Shandong. Initialement diacre à l’église presbytérienne, il est parti en 1909 à la quête du Saint-Esprit, à Shanghai, dans une des églises de "Apostolic Faith". Retourné au pays natal, il a reçu le Saint-Esprit le 21 décembre. L’année suivante, après son baptême dans la province de Suzhou, il est parti à Pékin et a été ordonné "ancien". Une des doctrines fondamentales de la Véritable-Jésus-Eglise: la nécessité de célébrer le Jour du Sabbat (le samedi) lui a été rappelée au cours d’une révélation.</li>

	<li>WEI An-Po alias Paul: originaire de la province de Hubei et membre de "London Missionary Society". Sa maladie ayant été guérie après l’imposition des mains par un ancien de "Apostolic Faith", il est devenu membre de cette église. Le Saint-Esprit lui a été octroyé un jour qu’il priait à son domicile à Pékin. Une des doctrines fondamentales de Véritable-Jésus-Eglise: la manière exacte de se faire baptiser lui fut révélée par le Seigneur Jésus.</li>

	<li>CHANG Dian-Ju alias Barnabas: originaire de la province de Shandong et membre de l’église presbytérienne. Agriculteur et antiquaire de profession. En1912,           quand CHANG Ling-Sheng est allé évangéliser dans son village, il s’est converti et s’est mis à la quête du Saint-Esprit. Il l’a reçu le 16 mars de la même année. Sous l’impulsion du Saint-Esprit, Paul WEI a fait le point sur ses croyances passées et les a trouvées peu conformes à la Bible. Il a ressenti la nécessité de rebâtir l’Eglise primitive apostolique et de réformer les églises existantes contemporaines afin qu’elles soient plus conformes aux enseignements bibliques. A partir de 1917, sous le nom de Véritable-Jésus-Eglise, il annonçait la bonne nouvelle à travers la Chine. En 1918, L.S. CHANG est arrivé à Tianjin et a reçu l’imposition des mains de WEI. L.S. CHANG aidait dès lors WEI à publier le "Journal de la réforme des nations" et à prêcher la bonne Parole. Barnabas CHANG, après un séjour de deux ans à l’église presbytérienne, suivait L.S. CHANG dans ses oeuvres d’évangélisation pendant trois à quatre ans. En 1919, il a été ordonné "ancien" par WEI et a décidé de consacrer sa vie à évangéliser les nations.</li></ol>

<h2>B. Le parcours de l’évangélisation</h2>

<p>En 1919, Paul WEI est rappelé auprès du Père céleste. L.S. CHANG et Wen-Hsing WEI poursuivaient leur mission dans le nord de la Chine. En 1920, Barnabas CHANG évangélisait dans les provinces de Hubei et Hunan, puis est arrivé à Jiangsu, Zhejiang et Fujian en 1923. Aidé dans sa mission par Dieu et accompagné par des prodiges, des miracles et la puissance du Saint-Esprit, il a fondé beaucoup d’églises. En 1926, la bonne nouvelle a été prêchée pour la première fois à Taiwan et s’est rapidement répandue dans cette province insulaire qui fut par la suite la seule province à échapper à l’emprise communiste en 1949. Taiwan est devenu alors le centre de la coordination mondiale de la Véritable-Jésus-Eglise jusqu’en 1989 où la 5ème Conférence des Délégations Mondiales a décidé de transférer

le siège social de l’Assemblée Internationale de la V.J.E. aux Etats-Unis. Comme l’Eglise du temps des Apôtres, la Véritable-Jésus-Eglise, qui a pour mission de rétablir l’Eglise apostolique et de poursuivre la mission de cette dernière, est née à l’Orient. Elle parcourt son chemin d’évangélisation d’Est en Ouest. Cela suit le commandement du Seigneur: allez dans le monde entier et proclamez la bonne nouvelle à toute la création (Mc 16.15). Nous savons fort bien qu’un long chemin reste à parcourir. Prions toujours le Seigneur de nous guider dans ce parcours et de nous aider à accomplir la mission qu’il nous a confiée.</p>

<h1>II ORGANISATION DE LA VERITABLE-JÉSUS-EGLISE</h1>

<p>Le mot grec Ecclesia, désigne l’Eglise, et nous permet de comprendre deux aspects de l’organisation de l’Eglise. D’abord ce mot a été utilisé pour désigner le peuple d’Israël conduit par Dieu lui-même dans le désert (Ac 7.38). L’Eglise est donc gouvernée par Dieu, elle est une communauté théocratique (cf. Ac 20.28; 5.1–11). D’autre part, Ecclesia désigne aussi le Parlement grec de l’époque. Utiliser ce mot pour désigner l’Eglise dénote une volonté de conduire les affaires de l’Eglise dans un esprit démocratique (cf. Ac 20.25–28; Lc 22.25–26). L’organisation de l’Eglise ne doit pas rester figée dans sa forme, elle peut s’adapter au temps présent avec le souci de rester le plus près possible des principes écrits dans la Bible. Au temps des Apôtres, l’Eglise était d’abord conduite par ceux-ci. Ensuite le travail d’évangélisation et les tâches administratives ont été séparés (Ac 6.1–6). Si l’on s’en réfère à la Bible, on s’apercevra qu’au temps des apôtres, les gestions des églises étaient déjà confiées aux anciens et aux diacres, et il se tissait des liens très étroits entre les églises. La V.J.E. a donc conçu son organisation selon ces règles et principes puisés dans la Bible.</p>

<p>Voici en résumé l’organisation de la Véritable-Jésus-Eglise:</p>

<h2>A. Organisation locale</h2>

<h3>1. Organisation</h3>

<p>Dans chaque église, anciens (ou évêques) et diacres se partagent les responsabilités (cf. Ph 1.1; Ac 14.23). Les affaires de l’Eglise se divisent en trois groupes: affaires religieuses, affaires générales (le secrétariat) et la trésorerie.

En principe, anciens et diacres assument ces différentes tâches, en faisant participer les membres au mieux en fonction des capacités de chacun. Les affaires religieuses comportent un département spécifique, chargé de l’éducation religieuse des enfants, des adolescents, des étudiants universitaires et

tous les membres.</p>

<h3>2. Qualités des anciens et des diacres</h3>

<p>La Bible nous a décrit avec précision le profil des personnes qui peuvent être ordonnées anciens ou diacres (1Tm 3.1–13; Tt 1.5–9). Elles doivent principalement posséder les qualités suivantes:</p>

a. Etre rempli du Saint-Esprit (Ac 6.3).

b. Avoir de la sagesse (Ac 6.3).

c. Etre de bonne réputation (Ac 6.3).

<h3>3. Fonctions</h3>

<p>L’ancien est chargé de faire paître le troupeau de Dieu, de diriger l’église et de répandre la bonne nouvelle (1P 5.1–4; Ac 20.28; 1Tm 5.17; 3.5). Bien que s’occupant surtout des tâches administratives au début, le diacre doit malgré tout se montrer irréprochable dans son comportement, ses connaissances spirituelles et sa foi (1Tm 3.9–13; Ac 6.1–6).

S’ils ont reçu le don d’évangélisation, ils peuvent être chargés de la prédication comme Etienne et Philippe qui sont devenus évangélistes (Ac 6.8–10; 2.5–13, 26–40; 21.8).</p>

<h3>4. Nomination</h3>

La nomination des anciens et des diacres doit être entourée de la plus grande circonspection, sans faire intervenir l’aspect physique, ni des considérations de personnes. Les personnes satisfaisant aux trois qualités énumérées ci-dessus sont proposées à la réunion des élus de l’Assemblée Générale Nationale et le corps des clergés. Après avoir reçu l’approbation de cette réunion, la proposition retourne à l’église locale à laquelle le futur ancien ou diacre sera rattaché. C’est seulement après l’accord de l’église locale que l’ordination aura lieu (cf. Ac 6.1–6; 14.23; Tt 1.5; 1Tm 3.10). Les femmes peuvent être ordonnées diaconesses, mais elles ne peuvent assurer la fonction d’évêque (cf. Rm 16.1; 1Tm 3.11).

<h2>B. Liens entre les églises</h2>

<p>Les églises disséminées à travers le monde doivent rester en liaison étroite, car elles appartiennent toutes à un même corps: celui du Christ (1Co 12.12–27; Ep 2.18–22). L’analyse des liens

des églises du temps des apôtres nous permet de tirer les enseignements suivants:</p>

<ol>
	<li>Les différentes églises locales entretenaient d’excellentes et étroites relations entre elles (Col 4.15–16; Rm 16.1–16, 21–24).</li>

	</li>Chaque contrée possédait son centre de coordination. Pour mieux développer les saintes oeuvres, les apôtres ont divisé les champs d’action en plusieurs contrées (Ga 2.8–9). Entre les contrées, il existait une entraide financière (Ac11.27–30; Rm 15.25–27; 1Co 16.1–3). A l’époque, le centre de coordination pour les contrées juives se trouvait à Jérusalem (Ac 8.1, 14–15; 11.19–22, 30) ; et pour les contrées païennes, à Antioche (Ac 13.1–3; 14.26–28; 15.30–35).</li>

	<li>Un organe central reliait les contrées.</li></ol>

<p>Jérusalem, là où demeuraient la plupart des apôtres, fut le Centre de Coordination de toutes les églises (Ac 15.1–4, 22–34; 18.20–22; Ga 2.1–10). S’inspirant de l’organisation existant à l’époque des apôtres

et dans le but de coordonner les Assemblées Générales de chaque pays et de développer les saintes oeuvres à travers le monde, l’Assemblée Internationale a été créée en 1967. Depuis 1981 (la 3ème Conférence des Délégations Mondiales), les délégués de chaque pays se réunissent régulièrement, tous les deux à quatre ans pour mettre sur pieds les projets d’évangélisation. Les pasteurs de la V.J.E. sont envoyés par l’Assemblée Générale de chaque pays, ou par l’Assemblée Internationale, dans les différentes églises en fonction des besoins locaux ou nationaux.</p>

<h2>C. Direction de l’Eglise</h2>

<ol><li>Le Seigneur Jésus nous dit: "Vous savez que les chefs des nations les tyrannisent, et que les grands abusent de leur pouvoir sur elles. Il n’en sera pas de même parmi vous. Mais quiconque veut être grand parmi vous sera votre serviteur et quiconque veut être le premier parmi vous sera votre esclave"

(Mt 20.25–27). L’Eglise est la maison de Dieu (1Tm 3.15), et ne doit pas être dirigée par le pouvoir comme une nation, mais par l’amour comme une famille (1Co 12.14–15).</li>

<li>Le Seigneur Jésus est le chef de famille dans la maison de Dieu. Il est le chef unique, éternel, personne ne peut le remplacer. Car il est vivant et demeure éternellement dans l’Eglise (Col 1.8; Ep 4.15; Mt 28.20; Ac 18.9–10; Rm 14.4).</li>

<li>Tous les membres sont des frères et doivent se considérer comme tels, en prenant exemple sur les Apôtres. La notion de hiérarchie doit être bannie de l’Eglise (Mt 23.8–11; 2P 3.15; Ac 15.23).</li>

<li>Anciens, diacres et pasteurs sont ordonnés pour servir les membres et l’Eglise en devenant les modèles du troupeau et non pour les tyranniser (1P 5.1–3 ; 2Co 4.5)</li>

<li>Les membres âgés doivent traiter les plus jeunes comme leurs propres enfants (1Tm 1.2; 2Tm 1.2); à l’inverse, les jeunes doivent respecter les personnes âgées comme leurs propres parents (Ph 2.22; 1Tm 5.1–2).</li>

<li>L’Assemblée Générale est un centre de coordination des églises locales. Les responsables de l’Assemblée Générale sont élus pour la coordination, la collaboration, le conseil et la fortification des églises et non pour les manipuler ou les tyranniser (cf. 2Co 1.24; 11.28–29; Ac 16.4–5; 1Tm 3.14–15).</li></ol>

<h2>D. Trésorerie et autres affaires de l’Eglise</h2>

<ol><li>Les différentes offrandes sont gérées par le trésorier de chaque église locale. Comme les ressources des pasteurs sont assurées par l’Assemblée Générale du pays de résidence, une partie des sommes résiduelles après déduction des dépenses des églises locales est collectée par l’Assemblée Générale. Celle-ci en dehors des dépenses courantes de l’Eglise, peut contribuer financièrement, le cas échéant, à

l’évangélisation mondiale.</li>

<li>Un comité d’entraide est également fondé afin d’assurer un certain nombre de bonnes œuvres ou d’aider à améliorer les conditions de vie dans certaines régions défavorisées: conseils d’agronomie, information sanitaire, cours de couture etc.</li>

<li>L’Assemblée Générale de chaque pays possède un comité rédacteur afin de superviser les publications de l’Eglise.</li>

<li>Pour le développement de l’évangélisation par la voie des publications, l’Assemblée Générale de chaque pays a un département de littérature évangélique qui publie régulièrement les revues spirituelles.</li>

<li>Les centres de théologie ont également été ouverts afin de former des pasteurs. A la fin de leur formation théologique et après avoir passé avec succès des stages, les séminaristes sont ordonnés pasteurs par l’Assemblée Générale du pays concerné.</li></ol>
	</div>
</div>